@media (max-width: 1200px) {
    .main {
        display: block;
    }
    
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;
        padding-left: 0px ;
    }

    .logo h3{
        font-size: 1.5rem;
    }

    .logo img{
        width: 90%;
        height: 90%;
    }

    .content .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        margin-bottom: 20px;
    }

    .sobre-nos img{
        width: 350px;
        
    }

}

@media (max-width: 992px){
    html{
        font-size: 80%;
    }
}

@media (max-width:768px){
    html{
        font-size: 55%;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .content .list-menu{
        display: none;
    }

    .one,
    .two,
    .three {
        width: 80%;
        height: 2%;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
    }

    .content.on{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30,31, 30, 0.8);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo{
        display: none;
    }

    .content.on .menu-toggle{
        position: absolute;
        right: 30px;
        top: 20px;
    }

    .content.on .list-menu{
        display: block;
    }

    .content.on .list-menu li{
        display: flex;
        justify-content: center;
    }

    .content.on .list-menu li a {
        font-size: 3rem;
    }

    .content.on .menu-toggle .two{
        opacity: 0;
    }

    .content.on .menu-toggle .one{
        transform: rotate(45deg) translate(5px, -8px);
    }
    .content.on .menu-toggle .three{
        transform: rotate(-45deg) translate(18px, -3px);
    }


    .itens-cardapio{
        grid-template-columns: repeat(2,minmax(50px, 350px));
    }

    .itens-cardapio .info h4{
        margin-left: 9rem;
    }

    .contatos-secao{
        display: block;
        text-align: center;
        font-size: 2rem;
    }

    .contatos-secao div{
        margin: 1rem;
    }
}

@media(max-width: 600px){
    .conteudo-principal h1 {
        width: 500px;
        text-align: center;
        font-size: 4rem;
    }


.conteudo-principal h2{
    font-size: 2rem;
}

    .itens-cardapio {
        grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
    }

    .sobre-nos img{
        width: 200px;
        margin-right: 5rem;
    }

    .sobre-nos p {
        text-align: center;
        width: 300px;
    }

    .contatos-secao {
        width: 300px;
    }
}


@media (max-width: 500px){

    .btn{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
    }

    .btn button{
        font-size: 1.5rem;
        width: 100%;
    }

    .conteudo-principal h1{
        width: 350px;
        font-size: 3rem;
        text-align: center;
    }

    .conteudo-principal h2{
        width: 200px;
        font-size: 2rem;
        text-align: center;
    }
    .sobre-nos img{
        width: 300px;
        height: auto;
        margin-left: 40px;
    }
}

@media(max-width: 395px){
    .sobre-nos img{
        width: 250px;
        height: auto;
        margin-left: 40px;
    }

    .contentsobre p {
        text-align: center;
        width: 250px;

    }

    .itens-cardapio{
        width: 70%;
        justify-content: center;
    }
}